.div {
  /* margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-style: solid;
  width: 50%;
  align-items: center;
  margin-left: 20%;
  margin-top: 0%;
  margin-bottom: 0%;
  border-bottom: transparent;
  box-shadow: burlywood;
  background-color: burlywood;
  border-top: transparent; */
}

.bookInfo {
  /* background-color: burlywood;
  color: black;
  font-family: sans-serif;
  font-size: x-large; */
}

.title {
  color: black;
  font-size: 40px;
  font-family: sans-serif;
}
